.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

img {
  width: 10px;
  height: 10px;
}

td, th, table{
  border: 1px solid black;
  border-collapse: collapse;
}